# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py


__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
.idea/

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide
Backtrader/log.csv
alpaca/config.py
data/filtered_csv_data/AAL.csv
data/filtered_csv_data/AAP.csv
data/filtered_csv_data/AAPL.csv
data/filtered_csv_data/ABBV.csv
data/filtered_csv_data/ABC.csv
data/filtered_csv_data/ABMD.csv
data/filtered_csv_data/ABT.csv
data/filtered_csv_data/ACN.csv
data/filtered_csv_data/ACV.csv
data/filtered_csv_data/ADBE.csv
data/filtered_csv_data/ADI.csv
data/filtered_csv_data/ADM.csv
data/filtered_csv_data/ADP.csv
data/filtered_csv_data/ADS.csv
data/filtered_csv_data/ADSK.csv
data/filtered_csv_data/ADT.csv
data/filtered_csv_data/AEE.csv
data/filtered_csv_data/AEP.csv
data/filtered_csv_data/AES.csv
data/filtered_csv_data/AFL.csv
data/filtered_csv_data/AIG.csv
data/filtered_csv_data/AINV.csv
data/filtered_csv_data/AIV.csv
data/filtered_csv_data/AIZ.csv
data/filtered_csv_data/AJG.csv
data/filtered_csv_data/AKAM.csv
data/filtered_csv_data/ALB.csv
data/filtered_csv_data/ALGN.csv
data/filtered_csv_data/ALK.csv
data/filtered_csv_data/ALL.csv
data/filtered_csv_data/ALLE.csv
data/filtered_csv_data/ALTR.csv
data/filtered_csv_data/AMAT.csv
data/filtered_csv_data/AMBC.csv
data/filtered_csv_data/AMCR.csv
data/filtered_csv_data/AMD.csv
data/filtered_csv_data/AME.csv
data/filtered_csv_data/AMG.csv
data/filtered_csv_data/AMGN.csv
data/filtered_csv_data/AMP.csv
data/filtered_csv_data/AMT.csv
data/filtered_csv_data/AMZN.csv
data/filtered_csv_data/AN.csv
data/filtered_csv_data/ANET.csv
data/filtered_csv_data/ANF.csv
data/filtered_csv_data/ANSS.csv
data/filtered_csv_data/ANTM.csv
data/filtered_csv_data/AON.csv
data/filtered_csv_data/AOS.csv
data/filtered_csv_data/APA.csv
data/filtered_csv_data/APD.csv
data/filtered_csv_data/APH.csv
data/filtered_csv_data/APTV.csv
data/filtered_csv_data/ARE.csv
data/filtered_csv_data/ARNC.csv
data/filtered_csv_data/ASH.csv
data/filtered_csv_data/ASO.csv
data/filtered_csv_data/ATGE.csv
data/filtered_csv_data/ATI.csv
data/filtered_csv_data/ATO.csv
data/filtered_csv_data/ATVI.csv
data/filtered_csv_data/AVB.csv
data/filtered_csv_data/AVGO.csv
data/filtered_csv_data/AVY.csv
data/filtered_csv_data/AWK.csv
data/filtered_csv_data/AXP.csv
data/filtered_csv_data/AYI.csv
data/filtered_csv_data/AZO.csv
data/filtered_csv_data/BA.csv
data/filtered_csv_data/BAC.csv
data/filtered_csv_data/BAX.csv
data/filtered_csv_data/BBBY.csv
data/filtered_csv_data/BBY.csv
data/filtered_csv_data/BC.csv
data/filtered_csv_data/BDX.csv
data/filtered_csv_data/BEN.csv
data/filtered_csv_data/BF.B.csv
data/filtered_csv_data/BIDU.csv
data/filtered_csv_data/BIG.csv
data/filtered_csv_data/BIIB.csv
data/filtered_csv_data/BIO.csv
data/filtered_csv_data/BK.csv
data/filtered_csv_data/BKNG.csv
data/filtered_csv_data/BLK.csv
data/filtered_csv_data/BLL.csv
data/filtered_csv_data/BMRN.csv
data/filtered_csv_data/BMY.csv
data/filtered_csv_data/BR.csv
data/filtered_csv_data/BRK.B.csv
data/filtered_csv_data/BRO.csv
data/filtered_csv_data/BSX.csv
data/filtered_csv_data/BTU.csv
data/filtered_csv_data/BUD.csv
data/filtered_csv_data/BWA.csv
data/filtered_csv_data/BXP.csv
data/filtered_csv_data/C.csv
data/filtered_csv_data/CAG.csv
data/filtered_csv_data/CAH.csv
data/filtered_csv_data/CAR.csv
data/filtered_csv_data/CARR.csv
data/filtered_csv_data/CAT.csv
data/filtered_csv_data/CB.csv
data/filtered_csv_data/CBH.csv
data/filtered_csv_data/CBOE.csv
data/filtered_csv_data/CBRE.csv
data/filtered_csv_data/CC.csv
data/filtered_csv_data/CCI.csv
data/filtered_csv_data/CCK.csv
data/filtered_csv_data/CCL.csv
data/filtered_csv_data/CCU.csv
data/filtered_csv_data/CDAY.csv
data/filtered_csv_data/CDNS.csv
data/filtered_csv_data/CDW.csv
data/filtered_csv_data/CE.csv
data/filtered_csv_data/CERN.csv
data/filtered_csv_data/CF.csv
data/filtered_csv_data/CFG.csv
data/filtered_csv_data/CHD.csv
data/filtered_csv_data/CHIR.csv
data/filtered_csv_data/CHK.csv
data/filtered_csv_data/CHKP.csv
data/filtered_csv_data/CHRW.csv
data/filtered_csv_data/CHTR.csv
data/filtered_csv_data/CI.csv
data/filtered_csv_data/CIEN.csv
data/filtered_csv_data/CINF.csv
data/filtered_csv_data/CIT.csv
data/filtered_csv_data/CL.csv
data/filtered_csv_data/CLF.csv
data/filtered_csv_data/CLX.csv
data/filtered_csv_data/CMA.csv
data/filtered_csv_data/CMCSA.csv
data/filtered_csv_data/CME.csv
data/filtered_csv_data/CMG.csv
data/filtered_csv_data/CMI.csv
data/filtered_csv_data/CMS.csv
data/filtered_csv_data/CNC.csv
data/filtered_csv_data/CNP.csv
data/filtered_csv_data/CNX.csv
data/filtered_csv_data/COF.csv
data/filtered_csv_data/COO.csv
data/filtered_csv_data/COOP.csv
data/filtered_csv_data/COP.csv
data/filtered_csv_data/COST.csv
data/filtered_csv_data/COTY.csv
data/filtered_csv_data/CPB.csv
data/filtered_csv_data/CPRI.csv
data/filtered_csv_data/CPRT.csv
data/filtered_csv_data/CRM.csv
data/filtered_csv_data/CSCO.csv
data/filtered_csv_data/CSX.csv
data/filtered_csv_data/CTAS.csv
data/filtered_csv_data/CTLT.csv
data/filtered_csv_data/CTSH.csv
data/filtered_csv_data/CTVA.csv
data/filtered_csv_data/CTXS.csv
data/filtered_csv_data/CVS.csv
data/filtered_csv_data/CVX.csv
data/filtered_csv_data/CZR.csv
data/filtered_csv_data/D.csv
data/filtered_csv_data/DAL.csv
data/filtered_csv_data/DAN.csv
data/filtered_csv_data/DD.csv
data/filtered_csv_data/DDS.csv
data/filtered_csv_data/DE.csv
data/filtered_csv_data/DELL.csv
data/filtered_csv_data/DFS.csv
data/filtered_csv_data/DG.csv
data/filtered_csv_data/DGX.csv
data/filtered_csv_data/DHI.csv
data/filtered_csv_data/DHR.csv
data/filtered_csv_data/DIS.csv
data/filtered_csv_data/DISCA.csv
data/filtered_csv_data/DISCK.csv
data/filtered_csv_data/DISH.csv
data/filtered_csv_data/DLR.csv
data/filtered_csv_data/DLTR.csv
data/filtered_csv_data/DLX.csv
data/filtered_csv_data/DNB.csv
data/filtered_csv_data/DOV.csv
data/filtered_csv_data/DOW.csv
data/filtered_csv_data/DPZ.csv
data/filtered_csv_data/DRE.csv
data/filtered_csv_data/DRI.csv
data/filtered_csv_data/DTE.csv
data/filtered_csv_data/DUK.csv
data/filtered_csv_data/DVA.csv
data/filtered_csv_data/DVN.csv
data/filtered_csv_data/DXC.csv
data/filtered_csv_data/DXCM.csv
data/filtered_csv_data/EA.csv
data/filtered_csv_data/EBAY.csv
data/filtered_csv_data/ECL.csv
data/filtered_csv_data/ED.csv
data/filtered_csv_data/EFX.csv
data/filtered_csv_data/EIX.csv
data/filtered_csv_data/EL.csv
data/filtered_csv_data/EMN.csv
data/filtered_csv_data/EMR.csv
data/filtered_csv_data/ENDP.csv
data/filtered_csv_data/ENPH.csv
data/filtered_csv_data/EOG.csv
data/filtered_csv_data/EPAM.csv
data/filtered_csv_data/EQ.csv
data/filtered_csv_data/EQIX.csv
data/filtered_csv_data/EQR.csv
data/filtered_csv_data/EQT.csv
data/filtered_csv_data/ES.csv
data/filtered_csv_data/ESS.csv
data/filtered_csv_data/ETN.csv
data/filtered_csv_data/ETR.csv
data/filtered_csv_data/ETSY.csv
data/filtered_csv_data/EVRG.csv
data/filtered_csv_data/EW.csv
data/filtered_csv_data/EXC.csv
data/filtered_csv_data/EXPD.csv
data/filtered_csv_data/EXPE.csv
data/filtered_csv_data/EXR.csv
data/filtered_csv_data/F.csv
data/filtered_csv_data/FANG.csv
data/filtered_csv_data/FAST.csv
data/filtered_csv_data/FB.csv
data/filtered_csv_data/FBHS.csv
data/filtered_csv_data/FCX.csv
data/filtered_csv_data/FDS.csv
data/filtered_csv_data/FDX.csv
data/filtered_csv_data/FE.csv
data/filtered_csv_data/FFIV.csv
data/filtered_csv_data/FHN.csv
data/filtered_csv_data/FIS.csv
data/filtered_csv_data/FISV.csv
data/filtered_csv_data/FITB.csv
data/filtered_csv_data/FL.csv
data/filtered_csv_data/FLEX.csv
data/filtered_csv_data/FLR.csv
data/filtered_csv_data/FLS.csv
data/filtered_csv_data/FLT.csv
data/filtered_csv_data/FMC.csv
data/filtered_csv_data/FOSL.csv
data/filtered_csv_data/FOX.csv
data/filtered_csv_data/FOXA.csv
data/filtered_csv_data/FPL.csv
data/filtered_csv_data/FRC.csv
data/filtered_csv_data/FRT.csv
data/filtered_csv_data/FSLR.csv
data/filtered_csv_data/FTI.csv
data/filtered_csv_data/FTNT.csv
data/filtered_csv_data/FTV.csv
data/filtered_csv_data/GCI.csv
data/filtered_csv_data/GD.csv
data/filtered_csv_data/GE.csv
data/filtered_csv_data/GHC.csv
data/filtered_csv_data/GILD.csv
data/filtered_csv_data/GIS.csv
data/filtered_csv_data/GL.csv
data/filtered_csv_data/GLW.csv
data/filtered_csv_data/GM.csv
data/filtered_csv_data/GME.csv
data/filtered_csv_data/GNRC.csv
data/filtered_csv_data/GNW.csv
data/filtered_csv_data/GOOG.csv
data/filtered_csv_data/GOOGL.csv
data/filtered_csv_data/GP.csv
data/filtered_csv_data/GPC.csv
data/filtered_csv_data/GPN.csv
data/filtered_csv_data/GPS.csv
data/filtered_csv_data/GRMN.csv
data/filtered_csv_data/GS.csv
data/filtered_csv_data/GT.csv
data/filtered_csv_data/GWW.csv
data/filtered_csv_data/HAL.csv
data/filtered_csv_data/HAS.csv
data/filtered_csv_data/HBAN.csv
data/filtered_csv_data/HBI.csv
data/filtered_csv_data/HCA.csv
data/filtered_csv_data/HD.csv
data/filtered_csv_data/HES.csv
data/filtered_csv_data/HFC.csv
data/filtered_csv_data/HIG.csv
data/filtered_csv_data/HII.csv
data/filtered_csv_data/HLT.csv
data/filtered_csv_data/HOG.csv
data/filtered_csv_data/HOLX.csv
data/filtered_csv_data/HON.csv
data/filtered_csv_data/HP.csv
data/filtered_csv_data/HPE.csv
data/filtered_csv_data/HPQ.csv
data/filtered_csv_data/HRB.csv
data/filtered_csv_data/HRL.csv
data/filtered_csv_data/HSIC.csv
data/filtered_csv_data/HST.csv
data/filtered_csv_data/HSY.csv
data/filtered_csv_data/HUM.csv
data/filtered_csv_data/IAC.csv
data/filtered_csv_data/IBM.csv
data/filtered_csv_data/ICE.csv
data/filtered_csv_data/IDXX.csv
data/filtered_csv_data/IEX.csv
data/filtered_csv_data/IFF.csv
data/filtered_csv_data/IGT.csv
data/filtered_csv_data/IHRT.csv
data/filtered_csv_data/ILMN.csv
data/filtered_csv_data/INCY.csv
data/filtered_csv_data/INFO.csv
data/filtered_csv_data/INFY.csv
data/filtered_csv_data/INTC.csv
data/filtered_csv_data/INTU.csv
data/filtered_csv_data/IP.csv
data/filtered_csv_data/IPG.csv
data/filtered_csv_data/IPGP.csv
data/filtered_csv_data/IQV.csv
data/filtered_csv_data/IR.csv
data/filtered_csv_data/IRM.csv
data/filtered_csv_data/ISRG.csv
data/filtered_csv_data/IT.csv
data/filtered_csv_data/ITT.csv
data/filtered_csv_data/ITW.csv
data/filtered_csv_data/IVZ.csv
data/filtered_csv_data/J.csv
data/filtered_csv_data/JBHT.csv
data/filtered_csv_data/JBL.csv
data/filtered_csv_data/JCI.csv
data/filtered_csv_data/JD.csv
data/filtered_csv_data/JEF.csv
data/filtered_csv_data/JKHY.csv
data/filtered_csv_data/JNJ.csv
data/filtered_csv_data/JNPR.csv
data/filtered_csv_data/JP.csv
data/filtered_csv_data/JPM.csv
data/filtered_csv_data/JWN.csv
data/filtered_csv_data/K.csv
data/filtered_csv_data/KBH.csv
data/filtered_csv_data/KEY.csv
data/filtered_csv_data/KEYS.csv
data/filtered_csv_data/KHC.csv
data/filtered_csv_data/KIM.csv
data/filtered_csv_data/KLAC.csv
data/filtered_csv_data/KMB.csv
data/filtered_csv_data/KMI.csv
data/filtered_csv_data/KMX.csv
data/filtered_csv_data/KO.csv
data/filtered_csv_data/KODK.csv
data/filtered_csv_data/KR.csv
data/filtered_csv_data/KSS.csv
data/filtered_csv_data/KSU.csv
data/filtered_csv_data/L.csv
data/filtered_csv_data/LBTYK.csv
data/filtered_csv_data/LDOS.csv
data/filtered_csv_data/LEG.csv
data/filtered_csv_data/LEN.csv
data/filtered_csv_data/LH.csv
data/filtered_csv_data/LHX.csv
data/filtered_csv_data/LIFE.csv
data/filtered_csv_data/LIN.csv
data/filtered_csv_data/LKQ.csv
data/filtered_csv_data/LLY.csv
data/filtered_csv_data/LMT.csv
data/filtered_csv_data/LNC.csv
data/filtered_csv_data/LNT.csv
data/filtered_csv_data/LOGI.csv
data/filtered_csv_data/LOW.csv
data/filtered_csv_data/LRCX.csv
data/filtered_csv_data/LSI.csv
data/filtered_csv_data/LU.csv
data/filtered_csv_data/LUMN.csv
data/filtered_csv_data/LUV.csv
data/filtered_csv_data/LVS.csv
data/filtered_csv_data/LW.csv
data/filtered_csv_data/LYB.csv
data/filtered_csv_data/LYV.csv
data/filtered_csv_data/M.csv
data/filtered_csv_data/MA.csv
data/filtered_csv_data/MAA.csv
data/filtered_csv_data/MAC.csv
data/filtered_csv_data/MAR.csv
data/filtered_csv_data/MAS.csv
data/filtered_csv_data/MAT.csv
data/filtered_csv_data/MBI.csv
data/filtered_csv_data/MCD.csv
data/filtered_csv_data/MCHP.csv
data/filtered_csv_data/MCK.csv
data/filtered_csv_data/MCO.csv
data/filtered_csv_data/MDLZ.csv
data/filtered_csv_data/MDP.csv
data/filtered_csv_data/MDT.csv
data/filtered_csv_data/MET.csv
data/filtered_csv_data/MGM.csv
data/filtered_csv_data/MHK.csv
data/filtered_csv_data/MKC.csv
data/filtered_csv_data/MKTX.csv
data/filtered_csv_data/MLM.csv
data/filtered_csv_data/MMC.csv
data/filtered_csv_data/MMI.csv
data/filtered_csv_data/MMM.csv
data/filtered_csv_data/MNST.csv
data/filtered_csv_data/MO.csv
data/filtered_csv_data/MOS.csv
data/filtered_csv_data/MPC.csv
data/filtered_csv_data/MPWR.csv
data/filtered_csv_data/MRK.csv
data/filtered_csv_data/MRO.csv
data/filtered_csv_data/MRVL.csv
data/filtered_csv_data/MS.csv
data/filtered_csv_data/MSCI.csv
data/filtered_csv_data/MSFT.csv
data/filtered_csv_data/MSI.csv
data/filtered_csv_data/MTB.csv
data/filtered_csv_data/MTCH.csv
data/filtered_csv_data/MTD.csv
data/filtered_csv_data/MTW.csv
data/filtered_csv_data/MU.csv
data/filtered_csv_data/MUR.csv
data/filtered_csv_data/NAVI.csv
data/filtered_csv_data/NBR.csv
data/filtered_csv_data/NCLH.csv
data/filtered_csv_data/NDAQ.csv
data/filtered_csv_data/NE.csv
data/filtered_csv_data/NEE.csv
data/filtered_csv_data/NEM.csv
data/filtered_csv_data/NFLX.csv
data/filtered_csv_data/NI.csv
data/filtered_csv_data/NKE.csv
data/filtered_csv_data/NKTR.csv
data/filtered_csv_data/NLOK.csv
data/filtered_csv_data/NLSN.csv
data/filtered_csv_data/NOC.csv
data/filtered_csv_data/NOV.csv
data/filtered_csv_data/NOW.csv
data/filtered_csv_data/NRG.csv
data/filtered_csv_data/NSC.csv
data/filtered_csv_data/NTAP.csv
data/filtered_csv_data/NTES.csv
data/filtered_csv_data/NTRS.csv
data/filtered_csv_data/NUE.csv
data/filtered_csv_data/NVDA.csv
data/filtered_csv_data/NVR.csv
data/filtered_csv_data/NWL.csv
data/filtered_csv_data/NWS.csv
data/filtered_csv_data/NWSA.csv
data/filtered_csv_data/NXPI.csv
data/filtered_csv_data/NYT.csv
data/filtered_csv_data/O.csv
data/filtered_csv_data/ODFL.csv
data/filtered_csv_data/ODP.csv
data/filtered_csv_data/OGN.csv
data/filtered_csv_data/OI.csv
data/filtered_csv_data/OKE.csv
data/filtered_csv_data/OMC.csv
data/filtered_csv_data/ONE.csv
data/filtered_csv_data/ORCL.csv
data/filtered_csv_data/ORLY.csv
data/filtered_csv_data/OTIS.csv
data/filtered_csv_data/OXY.csv
data/filtered_csv_data/PAR.csv
data/filtered_csv_data/PAYC.csv
data/filtered_csv_data/PAYX.csv
data/filtered_csv_data/PBCT.csv
data/filtered_csv_data/PBI.csv
data/filtered_csv_data/PCAR.csv
data/filtered_csv_data/PCG.csv
data/filtered_csv_data/PDCO.csv
data/filtered_csv_data/PEAK.csv
data/filtered_csv_data/PEG.csv
data/filtered_csv_data/PENN.csv
data/filtered_csv_data/PEP.csv
data/filtered_csv_data/PFE.csv
data/filtered_csv_data/PFG.csv
data/filtered_csv_data/PG.csv
data/filtered_csv_data/PGR.csv
data/filtered_csv_data/PH.csv
data/filtered_csv_data/PHM.csv
data/filtered_csv_data/PKG.csv
data/filtered_csv_data/PKI.csv
data/filtered_csv_data/PLD.csv
data/filtered_csv_data/PLL.csv
data/filtered_csv_data/PM.csv
data/filtered_csv_data/PNC.csv
data/filtered_csv_data/PNR.csv
data/filtered_csv_data/PNW.csv
data/filtered_csv_data/POOL.csv
data/filtered_csv_data/PPG.csv
data/filtered_csv_data/PPL.csv
data/filtered_csv_data/PRGO.csv
data/filtered_csv_data/PRI.csv
data/filtered_csv_data/PRU.csv
data/filtered_csv_data/PSA.csv
data/filtered_csv_data/PSX.csv
data/filtered_csv_data/PTC.csv
data/filtered_csv_data/PVH.csv
data/filtered_csv_data/PWR.csv
data/filtered_csv_data/PXD.csv
data/filtered_csv_data/PYPL.csv
data/filtered_csv_data/QCOM.csv
data/filtered_csv_data/QGEN.csv
data/filtered_csv_data/QRVO.csv
data/filtered_csv_data/R.csv
data/filtered_csv_data/RCL.csv
data/filtered_csv_data/RE.csv
data/filtered_csv_data/REG.csv
data/filtered_csv_data/REGN.csv
data/filtered_csv_data/RF.csv
data/filtered_csv_data/RHI.csv
data/filtered_csv_data/RIG.csv
data/filtered_csv_data/RJF.csv
data/filtered_csv_data/RL.csv
data/filtered_csv_data/RLGY.csv
data/filtered_csv_data/RMD.csv
data/filtered_csv_data/ROK.csv
data/filtered_csv_data/ROL.csv
data/filtered_csv_data/ROP.csv
data/filtered_csv_data/ROST.csv
data/filtered_csv_data/RRC.csv
data/filtered_csv_data/RRD.csv
data/filtered_csv_data/RSG.csv
data/filtered_csv_data/RTX.csv
data/filtered_csv_data/RYAAY.csv
data/filtered_csv_data/S.csv
data/filtered_csv_data/SAIC.csv
data/filtered_csv_data/SANM.csv
data/filtered_csv_data/SBAC.csv
data/filtered_csv_data/SBNY.csv
data/filtered_csv_data/SBUX.csv
data/filtered_csv_data/SCHW.csv
data/filtered_csv_data/SE.csv
data/filtered_csv_data/SEDG.csv
data/filtered_csv_data/SEE.csv
data/filtered_csv_data/SHW.csv
data/filtered_csv_data/SIG.csv
data/filtered_csv_data/SIRI.csv
data/filtered_csv_data/SITC.csv
data/filtered_csv_data/SIVB.csv
data/filtered_csv_data/SJM.csv
data/filtered_csv_data/SLB.csv
data/filtered_csv_data/SLG.csv
data/filtered_csv_data/SLM.csv
data/filtered_csv_data/SNA.csv
data/filtered_csv_data/SNPS.csv
data/filtered_csv_data/SO.csv
data/filtered_csv_data/SPG.csv
data/filtered_csv_data/SPGI.csv
data/filtered_csv_data/SRCL.csv
data/filtered_csv_data/SRE.csv
data/filtered_csv_data/SSP.csv
data/filtered_csv_data/STE.csv
data/filtered_csv_data/STT.csv
data/filtered_csv_data/STX.csv
data/filtered_csv_data/STZ.csv
data/filtered_csv_data/SUN.csv
data/filtered_csv_data/SWK.csv
data/filtered_csv_data/SWKS.csv
data/filtered_csv_data/SWN.csv
data/filtered_csv_data/SYF.csv
data/filtered_csv_data/SYK.csv
data/filtered_csv_data/SYY.csv
data/filtered_csv_data/T.csv
data/filtered_csv_data/TAP.csv
data/filtered_csv_data/TDC.csv
data/filtered_csv_data/TDG.csv
data/filtered_csv_data/TDY.csv
data/filtered_csv_data/TEL.csv
data/filtered_csv_data/TER.csv
data/filtered_csv_data/TEVA.csv
data/filtered_csv_data/TEX.csv
data/filtered_csv_data/TFC.csv
data/filtered_csv_data/TFX.csv
data/filtered_csv_data/TGNA.csv
data/filtered_csv_data/TGT.csv
data/filtered_csv_data/THC.csv
data/filtered_csv_data/TJX.csv
data/filtered_csv_data/TMO.csv
data/filtered_csv_data/TMUS.csv
data/filtered_csv_data/TPR.csv
data/filtered_csv_data/TRIP.csv
data/filtered_csv_data/TRMB.csv
data/filtered_csv_data/TROW.csv
data/filtered_csv_data/TRV.csv
data/filtered_csv_data/TSCO.csv
data/filtered_csv_data/TSLA.csv
data/filtered_csv_data/TSN.csv
data/filtered_csv_data/TTWO.csv
data/filtered_csv_data/TUP.csv
data/filtered_csv_data/TWTR.csv
data/filtered_csv_data/TXN.csv
data/filtered_csv_data/TXT.csv
data/filtered_csv_data/TYL.csv
data/filtered_csv_data/UA.csv
data/filtered_csv_data/UAA.csv
data/filtered_csv_data/UAL.csv
data/filtered_csv_data/UCL.csv
data/filtered_csv_data/UDR.csv
data/filtered_csv_data/UHS.csv
data/filtered_csv_data/ULTA.csv
data/filtered_csv_data/UNH.csv
data/filtered_csv_data/UNM.csv
data/filtered_csv_data/UNP.csv
data/filtered_csv_data/UPC.csv
data/filtered_csv_data/UPS.csv
data/filtered_csv_data/URBN.csv
data/filtered_csv_data/URI.csv
data/filtered_csv_data/USB.csv
data/filtered_csv_data/V.csv
data/filtered_csv_data/VAL.csv
data/filtered_csv_data/VFC.csv
data/filtered_csv_data/VIAV.csv
data/filtered_csv_data/VLO.csv
data/filtered_csv_data/VMC.csv
data/filtered_csv_data/VNO.csv
data/filtered_csv_data/VNT.csv
data/filtered_csv_data/VOD.csv
data/filtered_csv_data/VRSK.csv
data/filtered_csv_data/VRSN.csv
data/filtered_csv_data/VRTS.csv
data/filtered_csv_data/VRTX.csv
data/filtered_csv_data/VTR.csv
data/filtered_csv_data/VTRS.csv
data/filtered_csv_data/VZ.csv
data/filtered_csv_data/WAB.csv
data/filtered_csv_data/WAT.csv
data/filtered_csv_data/WBA.csv
data/filtered_csv_data/WDC.csv
data/filtered_csv_data/WEC.csv
data/filtered_csv_data/WELL.csv
data/filtered_csv_data/WFC.csv
data/filtered_csv_data/WHR.csv
data/filtered_csv_data/WLTW.csv
data/filtered_csv_data/WM.csv
data/filtered_csv_data/WMB.csv
data/filtered_csv_data/WMT.csv
data/filtered_csv_data/WOR.csv
data/filtered_csv_data/WRB.csv
data/filtered_csv_data/WRK.csv
data/filtered_csv_data/WST.csv
data/filtered_csv_data/WU.csv
data/filtered_csv_data/WY.csv
data/filtered_csv_data/WYNN.csv
data/filtered_csv_data/X.csv
data/filtered_csv_data/XEL.csv
data/filtered_csv_data/XLNX.csv
data/filtered_csv_data/XOM.csv
data/filtered_csv_data/XRAY.csv
data/filtered_csv_data/XRX.csv
data/filtered_csv_data/XYL.csv
data/filtered_csv_data/YUM.csv
data/filtered_csv_data/ZBH.csv
data/filtered_csv_data/ZBRA.csv
data/filtered_csv_data/ZION.csv
data/filtered_csv_data/ZTS.csv
