# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py


__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
.idea/

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide
Backtrader/log.csv
Alpaca/Config.py
Data/filtered_csv_data/AAL.csv
Data/filtered_csv_data/AAP.csv
Data/filtered_csv_data/AAPL.csv
Data/filtered_csv_data/ABBV.csv
Data/filtered_csv_data/ABC.csv
Data/filtered_csv_data/ABMD.csv
Data/filtered_csv_data/ABT.csv
Data/filtered_csv_data/ACN.csv
Data/filtered_csv_data/ACV.csv
Data/filtered_csv_data/ADBE.csv
Data/filtered_csv_data/ADI.csv
Data/filtered_csv_data/ADM.csv
Data/filtered_csv_data/ADP.csv
Data/filtered_csv_data/ADS.csv
Data/filtered_csv_data/ADSK.csv
Data/filtered_csv_data/ADT.csv
Data/filtered_csv_data/AEE.csv
Data/filtered_csv_data/AEP.csv
Data/filtered_csv_data/AES.csv
Data/filtered_csv_data/AFL.csv
Data/filtered_csv_data/AIG.csv
Data/filtered_csv_data/AINV.csv
Data/filtered_csv_data/AIV.csv
Data/filtered_csv_data/AIZ.csv
Data/filtered_csv_data/AJG.csv
Data/filtered_csv_data/AKAM.csv
Data/filtered_csv_data/ALB.csv
Data/filtered_csv_data/ALGN.csv
Data/filtered_csv_data/ALK.csv
Data/filtered_csv_data/ALL.csv
Data/filtered_csv_data/ALLE.csv
Data/filtered_csv_data/ALTR.csv
Data/filtered_csv_data/AMAT.csv
Data/filtered_csv_data/AMBC.csv
Data/filtered_csv_data/AMCR.csv
Data/filtered_csv_data/AMD.csv
Data/filtered_csv_data/AME.csv
Data/filtered_csv_data/AMG.csv
Data/filtered_csv_data/AMGN.csv
Data/filtered_csv_data/AMP.csv
Data/filtered_csv_data/AMT.csv
Data/filtered_csv_data/AMZN.csv
Data/filtered_csv_data/AN.csv
Data/filtered_csv_data/ANET.csv
Data/filtered_csv_data/ANF.csv
Data/filtered_csv_data/ANSS.csv
Data/filtered_csv_data/ANTM.csv
Data/filtered_csv_data/AON.csv
Data/filtered_csv_data/AOS.csv
Data/filtered_csv_data/APA.csv
Data/filtered_csv_data/APD.csv
Data/filtered_csv_data/APH.csv
Data/filtered_csv_data/APTV.csv
Data/filtered_csv_data/ARE.csv
Data/filtered_csv_data/ARNC.csv
Data/filtered_csv_data/ASH.csv
Data/filtered_csv_data/ASO.csv
Data/filtered_csv_data/ATGE.csv
Data/filtered_csv_data/ATI.csv
Data/filtered_csv_data/ATO.csv
Data/filtered_csv_data/ATVI.csv
Data/filtered_csv_data/AVB.csv
Data/filtered_csv_data/AVGO.csv
Data/filtered_csv_data/AVY.csv
Data/filtered_csv_data/AWK.csv
Data/filtered_csv_data/AXP.csv
Data/filtered_csv_data/AYI.csv
Data/filtered_csv_data/AZO.csv
Data/filtered_csv_data/BA.csv
Data/filtered_csv_data/BAC.csv
Data/filtered_csv_data/BAX.csv
Data/filtered_csv_data/BBBY.csv
Data/filtered_csv_data/BBY.csv
Data/filtered_csv_data/BC.csv
Data/filtered_csv_data/BDX.csv
Data/filtered_csv_data/BEN.csv
Data/filtered_csv_data/BF.B.csv
Data/filtered_csv_data/BIDU.csv
Data/filtered_csv_data/BIG.csv
Data/filtered_csv_data/BIIB.csv
Data/filtered_csv_data/BIO.csv
Data/filtered_csv_data/BK.csv
Data/filtered_csv_data/BKNG.csv
Data/filtered_csv_data/BLK.csv
Data/filtered_csv_data/BLL.csv
Data/filtered_csv_data/BMRN.csv
Data/filtered_csv_data/BMY.csv
Data/filtered_csv_data/BR.csv
Data/filtered_csv_data/BRK.B.csv
Data/filtered_csv_data/BRO.csv
Data/filtered_csv_data/BSX.csv
Data/filtered_csv_data/BTU.csv
Data/filtered_csv_data/BUD.csv
Data/filtered_csv_data/BWA.csv
Data/filtered_csv_data/BXP.csv
Data/filtered_csv_data/C.csv
Data/filtered_csv_data/CAG.csv
Data/filtered_csv_data/CAH.csv
Data/filtered_csv_data/CAR.csv
Data/filtered_csv_data/CARR.csv
Data/filtered_csv_data/CAT.csv
Data/filtered_csv_data/CB.csv
Data/filtered_csv_data/CBH.csv
Data/filtered_csv_data/CBOE.csv
Data/filtered_csv_data/CBRE.csv
Data/filtered_csv_data/CC.csv
Data/filtered_csv_data/CCI.csv
Data/filtered_csv_data/CCK.csv
Data/filtered_csv_data/CCL.csv
Data/filtered_csv_data/CCU.csv
Data/filtered_csv_data/CDAY.csv
Data/filtered_csv_data/CDNS.csv
Data/filtered_csv_data/CDW.csv
Data/filtered_csv_data/CE.csv
Data/filtered_csv_data/CERN.csv
Data/filtered_csv_data/CF.csv
Data/filtered_csv_data/CFG.csv
Data/filtered_csv_data/CHD.csv
Data/filtered_csv_data/CHIR.csv
Data/filtered_csv_data/CHK.csv
Data/filtered_csv_data/CHKP.csv
Data/filtered_csv_data/CHRW.csv
Data/filtered_csv_data/CHTR.csv
Data/filtered_csv_data/CI.csv
Data/filtered_csv_data/CIEN.csv
Data/filtered_csv_data/CINF.csv
Data/filtered_csv_data/CIT.csv
Data/filtered_csv_data/CL.csv
Data/filtered_csv_data/CLF.csv
Data/filtered_csv_data/CLX.csv
Data/filtered_csv_data/CMA.csv
Data/filtered_csv_data/CMCSA.csv
Data/filtered_csv_data/CME.csv
Data/filtered_csv_data/CMG.csv
Data/filtered_csv_data/CMI.csv
Data/filtered_csv_data/CMS.csv
Data/filtered_csv_data/CNC.csv
Data/filtered_csv_data/CNP.csv
Data/filtered_csv_data/CNX.csv
Data/filtered_csv_data/COF.csv
Data/filtered_csv_data/COO.csv
Data/filtered_csv_data/COOP.csv
Data/filtered_csv_data/COP.csv
Data/filtered_csv_data/COST.csv
Data/filtered_csv_data/COTY.csv
Data/filtered_csv_data/CPB.csv
Data/filtered_csv_data/CPRI.csv
Data/filtered_csv_data/CPRT.csv
Data/filtered_csv_data/CRM.csv
Data/filtered_csv_data/CSCO.csv
Data/filtered_csv_data/CSX.csv
Data/filtered_csv_data/CTAS.csv
Data/filtered_csv_data/CTLT.csv
Data/filtered_csv_data/CTSH.csv
Data/filtered_csv_data/CTVA.csv
Data/filtered_csv_data/CTXS.csv
Data/filtered_csv_data/CVS.csv
Data/filtered_csv_data/CVX.csv
Data/filtered_csv_data/CZR.csv
Data/filtered_csv_data/D.csv
Data/filtered_csv_data/DAL.csv
Data/filtered_csv_data/DAN.csv
Data/filtered_csv_data/DD.csv
Data/filtered_csv_data/DDS.csv
Data/filtered_csv_data/DE.csv
Data/filtered_csv_data/DELL.csv
Data/filtered_csv_data/DFS.csv
Data/filtered_csv_data/DG.csv
Data/filtered_csv_data/DGX.csv
Data/filtered_csv_data/DHI.csv
Data/filtered_csv_data/DHR.csv
Data/filtered_csv_data/DIS.csv
Data/filtered_csv_data/DISCA.csv
Data/filtered_csv_data/DISCK.csv
Data/filtered_csv_data/DISH.csv
Data/filtered_csv_data/DLR.csv
Data/filtered_csv_data/DLTR.csv
Data/filtered_csv_data/DLX.csv
Data/filtered_csv_data/DNB.csv
Data/filtered_csv_data/DOV.csv
Data/filtered_csv_data/DOW.csv
Data/filtered_csv_data/DPZ.csv
Data/filtered_csv_data/DRE.csv
Data/filtered_csv_data/DRI.csv
Data/filtered_csv_data/DTE.csv
Data/filtered_csv_data/DUK.csv
Data/filtered_csv_data/DVA.csv
Data/filtered_csv_data/DVN.csv
Data/filtered_csv_data/DXC.csv
Data/filtered_csv_data/DXCM.csv
Data/filtered_csv_data/EA.csv
Data/filtered_csv_data/EBAY.csv
Data/filtered_csv_data/ECL.csv
Data/filtered_csv_data/ED.csv
Data/filtered_csv_data/EFX.csv
Data/filtered_csv_data/EIX.csv
Data/filtered_csv_data/EL.csv
Data/filtered_csv_data/EMN.csv
Data/filtered_csv_data/EMR.csv
Data/filtered_csv_data/ENDP.csv
Data/filtered_csv_data/ENPH.csv
Data/filtered_csv_data/EOG.csv
Data/filtered_csv_data/EPAM.csv
Data/filtered_csv_data/EQ.csv
Data/filtered_csv_data/EQIX.csv
Data/filtered_csv_data/EQR.csv
Data/filtered_csv_data/EQT.csv
Data/filtered_csv_data/ES.csv
Data/filtered_csv_data/ESS.csv
Data/filtered_csv_data/ETN.csv
Data/filtered_csv_data/ETR.csv
Data/filtered_csv_data/ETSY.csv
Data/filtered_csv_data/EVRG.csv
Data/filtered_csv_data/EW.csv
Data/filtered_csv_data/EXC.csv
Data/filtered_csv_data/EXPD.csv
Data/filtered_csv_data/EXPE.csv
Data/filtered_csv_data/EXR.csv
Data/filtered_csv_data/F.csv
Data/filtered_csv_data/FANG.csv
Data/filtered_csv_data/FAST.csv
Data/filtered_csv_data/FB.csv
Data/filtered_csv_data/FBHS.csv
Data/filtered_csv_data/FCX.csv
Data/filtered_csv_data/FDS.csv
Data/filtered_csv_data/FDX.csv
Data/filtered_csv_data/FE.csv
Data/filtered_csv_data/FFIV.csv
Data/filtered_csv_data/FHN.csv
Data/filtered_csv_data/FIS.csv
Data/filtered_csv_data/FISV.csv
Data/filtered_csv_data/FITB.csv
Data/filtered_csv_data/FL.csv
Data/filtered_csv_data/FLEX.csv
Data/filtered_csv_data/FLR.csv
Data/filtered_csv_data/FLS.csv
Data/filtered_csv_data/FLT.csv
Data/filtered_csv_data/FMC.csv
Data/filtered_csv_data/FOSL.csv
Data/filtered_csv_data/FOX.csv
Data/filtered_csv_data/FOXA.csv
Data/filtered_csv_data/FPL.csv
Data/filtered_csv_data/FRC.csv
Data/filtered_csv_data/FRT.csv
Data/filtered_csv_data/FSLR.csv
Data/filtered_csv_data/FTI.csv
Data/filtered_csv_data/FTNT.csv
Data/filtered_csv_data/FTV.csv
Data/filtered_csv_data/GCI.csv
Data/filtered_csv_data/GD.csv
Data/filtered_csv_data/GE.csv
Data/filtered_csv_data/GHC.csv
Data/filtered_csv_data/GILD.csv
Data/filtered_csv_data/GIS.csv
Data/filtered_csv_data/GL.csv
Data/filtered_csv_data/GLW.csv
Data/filtered_csv_data/GM.csv
Data/filtered_csv_data/GME.csv
Data/filtered_csv_data/GNRC.csv
Data/filtered_csv_data/GNW.csv
Data/filtered_csv_data/GOOG.csv
Data/filtered_csv_data/GOOGL.csv
Data/filtered_csv_data/GP.csv
Data/filtered_csv_data/GPC.csv
Data/filtered_csv_data/GPN.csv
Data/filtered_csv_data/GPS.csv
Data/filtered_csv_data/GRMN.csv
Data/filtered_csv_data/GS.csv
Data/filtered_csv_data/GT.csv
Data/filtered_csv_data/GWW.csv
Data/filtered_csv_data/HAL.csv
Data/filtered_csv_data/HAS.csv
Data/filtered_csv_data/HBAN.csv
Data/filtered_csv_data/HBI.csv
Data/filtered_csv_data/HCA.csv
Data/filtered_csv_data/HD.csv
Data/filtered_csv_data/HES.csv
Data/filtered_csv_data/HFC.csv
Data/filtered_csv_data/HIG.csv
Data/filtered_csv_data/HII.csv
Data/filtered_csv_data/HLT.csv
Data/filtered_csv_data/HOG.csv
Data/filtered_csv_data/HOLX.csv
Data/filtered_csv_data/HON.csv
Data/filtered_csv_data/HP.csv
Data/filtered_csv_data/HPE.csv
Data/filtered_csv_data/HPQ.csv
Data/filtered_csv_data/HRB.csv
Data/filtered_csv_data/HRL.csv
Data/filtered_csv_data/HSIC.csv
Data/filtered_csv_data/HST.csv
Data/filtered_csv_data/HSY.csv
Data/filtered_csv_data/HUM.csv
Data/filtered_csv_data/IAC.csv
Data/filtered_csv_data/IBM.csv
Data/filtered_csv_data/ICE.csv
Data/filtered_csv_data/IDXX.csv
Data/filtered_csv_data/IEX.csv
Data/filtered_csv_data/IFF.csv
Data/filtered_csv_data/IGT.csv
Data/filtered_csv_data/IHRT.csv
Data/filtered_csv_data/ILMN.csv
Data/filtered_csv_data/INCY.csv
Data/filtered_csv_data/INFO.csv
Data/filtered_csv_data/INFY.csv
Data/filtered_csv_data/INTC.csv
Data/filtered_csv_data/INTU.csv
Data/filtered_csv_data/IP.csv
Data/filtered_csv_data/IPG.csv
Data/filtered_csv_data/IPGP.csv
Data/filtered_csv_data/IQV.csv
Data/filtered_csv_data/IR.csv
Data/filtered_csv_data/IRM.csv
Data/filtered_csv_data/ISRG.csv
Data/filtered_csv_data/IT.csv
Data/filtered_csv_data/ITT.csv
Data/filtered_csv_data/ITW.csv
Data/filtered_csv_data/IVZ.csv
Data/filtered_csv_data/J.csv
Data/filtered_csv_data/JBHT.csv
Data/filtered_csv_data/JBL.csv
Data/filtered_csv_data/JCI.csv
Data/filtered_csv_data/JD.csv
Data/filtered_csv_data/JEF.csv
Data/filtered_csv_data/JKHY.csv
Data/filtered_csv_data/JNJ.csv
Data/filtered_csv_data/JNPR.csv
Data/filtered_csv_data/JP.csv
Data/filtered_csv_data/JPM.csv
Data/filtered_csv_data/JWN.csv
Data/filtered_csv_data/K.csv
Data/filtered_csv_data/KBH.csv
Data/filtered_csv_data/KEY.csv
Data/filtered_csv_data/KEYS.csv
Data/filtered_csv_data/KHC.csv
Data/filtered_csv_data/KIM.csv
Data/filtered_csv_data/KLAC.csv
Data/filtered_csv_data/KMB.csv
Data/filtered_csv_data/KMI.csv
Data/filtered_csv_data/KMX.csv
Data/filtered_csv_data/KO.csv
Data/filtered_csv_data/KODK.csv
Data/filtered_csv_data/KR.csv
Data/filtered_csv_data/KSS.csv
Data/filtered_csv_data/KSU.csv
Data/filtered_csv_data/L.csv
Data/filtered_csv_data/LBTYK.csv
Data/filtered_csv_data/LDOS.csv
Data/filtered_csv_data/LEG.csv
Data/filtered_csv_data/LEN.csv
Data/filtered_csv_data/LH.csv
Data/filtered_csv_data/LHX.csv
Data/filtered_csv_data/LIFE.csv
Data/filtered_csv_data/LIN.csv
Data/filtered_csv_data/LKQ.csv
Data/filtered_csv_data/LLY.csv
Data/filtered_csv_data/LMT.csv
Data/filtered_csv_data/LNC.csv
Data/filtered_csv_data/LNT.csv
Data/filtered_csv_data/LOGI.csv
Data/filtered_csv_data/LOW.csv
Data/filtered_csv_data/LRCX.csv
Data/filtered_csv_data/LSI.csv
Data/filtered_csv_data/LU.csv
Data/filtered_csv_data/LUMN.csv
Data/filtered_csv_data/LUV.csv
Data/filtered_csv_data/LVS.csv
Data/filtered_csv_data/LW.csv
Data/filtered_csv_data/LYB.csv
Data/filtered_csv_data/LYV.csv
Data/filtered_csv_data/M.csv
Data/filtered_csv_data/MA.csv
Data/filtered_csv_data/MAA.csv
Data/filtered_csv_data/MAC.csv
Data/filtered_csv_data/MAR.csv
Data/filtered_csv_data/MAS.csv
Data/filtered_csv_data/MAT.csv
Data/filtered_csv_data/MBI.csv
Data/filtered_csv_data/MCD.csv
Data/filtered_csv_data/MCHP.csv
Data/filtered_csv_data/MCK.csv
Data/filtered_csv_data/MCO.csv
Data/filtered_csv_data/MDLZ.csv
Data/filtered_csv_data/MDP.csv
Data/filtered_csv_data/MDT.csv
Data/filtered_csv_data/MET.csv
Data/filtered_csv_data/MGM.csv
Data/filtered_csv_data/MHK.csv
Data/filtered_csv_data/MKC.csv
Data/filtered_csv_data/MKTX.csv
Data/filtered_csv_data/MLM.csv
Data/filtered_csv_data/MMC.csv
Data/filtered_csv_data/MMI.csv
Data/filtered_csv_data/MMM.csv
Data/filtered_csv_data/MNST.csv
Data/filtered_csv_data/MO.csv
Data/filtered_csv_data/MOS.csv
Data/filtered_csv_data/MPC.csv
Data/filtered_csv_data/MPWR.csv
Data/filtered_csv_data/MRK.csv
Data/filtered_csv_data/MRO.csv
Data/filtered_csv_data/MRVL.csv
Data/filtered_csv_data/MS.csv
Data/filtered_csv_data/MSCI.csv
Data/filtered_csv_data/MSFT.csv
Data/filtered_csv_data/MSI.csv
Data/filtered_csv_data/MTB.csv
Data/filtered_csv_data/MTCH.csv
Data/filtered_csv_data/MTD.csv
Data/filtered_csv_data/MTW.csv
Data/filtered_csv_data/MU.csv
Data/filtered_csv_data/MUR.csv
Data/filtered_csv_data/NAVI.csv
Data/filtered_csv_data/NBR.csv
Data/filtered_csv_data/NCLH.csv
Data/filtered_csv_data/NDAQ.csv
Data/filtered_csv_data/NE.csv
Data/filtered_csv_data/NEE.csv
Data/filtered_csv_data/NEM.csv
Data/filtered_csv_data/NFLX.csv
Data/filtered_csv_data/NI.csv
Data/filtered_csv_data/NKE.csv
Data/filtered_csv_data/NKTR.csv
Data/filtered_csv_data/NLOK.csv
Data/filtered_csv_data/NLSN.csv
Data/filtered_csv_data/NOC.csv
Data/filtered_csv_data/NOV.csv
Data/filtered_csv_data/NOW.csv
Data/filtered_csv_data/NRG.csv
Data/filtered_csv_data/NSC.csv
Data/filtered_csv_data/NTAP.csv
Data/filtered_csv_data/NTES.csv
Data/filtered_csv_data/NTRS.csv
Data/filtered_csv_data/NUE.csv
Data/filtered_csv_data/NVDA.csv
Data/filtered_csv_data/NVR.csv
Data/filtered_csv_data/NWL.csv
Data/filtered_csv_data/NWS.csv
Data/filtered_csv_data/NWSA.csv
Data/filtered_csv_data/NXPI.csv
Data/filtered_csv_data/NYT.csv
Data/filtered_csv_data/O.csv
Data/filtered_csv_data/ODFL.csv
Data/filtered_csv_data/ODP.csv
Data/filtered_csv_data/OGN.csv
Data/filtered_csv_data/OI.csv
Data/filtered_csv_data/OKE.csv
Data/filtered_csv_data/OMC.csv
Data/filtered_csv_data/ONE.csv
Data/filtered_csv_data/ORCL.csv
Data/filtered_csv_data/ORLY.csv
Data/filtered_csv_data/OTIS.csv
Data/filtered_csv_data/OXY.csv
Data/filtered_csv_data/PAR.csv
Data/filtered_csv_data/PAYC.csv
Data/filtered_csv_data/PAYX.csv
Data/filtered_csv_data/PBCT.csv
Data/filtered_csv_data/PBI.csv
Data/filtered_csv_data/PCAR.csv
Data/filtered_csv_data/PCG.csv
Data/filtered_csv_data/PDCO.csv
Data/filtered_csv_data/PEAK.csv
Data/filtered_csv_data/PEG.csv
Data/filtered_csv_data/PENN.csv
Data/filtered_csv_data/PEP.csv
Data/filtered_csv_data/PFE.csv
Data/filtered_csv_data/PFG.csv
Data/filtered_csv_data/PG.csv
Data/filtered_csv_data/PGR.csv
Data/filtered_csv_data/PH.csv
Data/filtered_csv_data/PHM.csv
Data/filtered_csv_data/PKG.csv
Data/filtered_csv_data/PKI.csv
Data/filtered_csv_data/PLD.csv
Data/filtered_csv_data/PLL.csv
Data/filtered_csv_data/PM.csv
Data/filtered_csv_data/PNC.csv
Data/filtered_csv_data/PNR.csv
Data/filtered_csv_data/PNW.csv
Data/filtered_csv_data/POOL.csv
Data/filtered_csv_data/PPG.csv
Data/filtered_csv_data/PPL.csv
Data/filtered_csv_data/PRGO.csv
Data/filtered_csv_data/PRI.csv
Data/filtered_csv_data/PRU.csv
Data/filtered_csv_data/PSA.csv
Data/filtered_csv_data/PSX.csv
Data/filtered_csv_data/PTC.csv
Data/filtered_csv_data/PVH.csv
Data/filtered_csv_data/PWR.csv
Data/filtered_csv_data/PXD.csv
Data/filtered_csv_data/PYPL.csv
Data/filtered_csv_data/QCOM.csv
Data/filtered_csv_data/QGEN.csv
Data/filtered_csv_data/QRVO.csv
Data/filtered_csv_data/R.csv
Data/filtered_csv_data/RCL.csv
Data/filtered_csv_data/RE.csv
Data/filtered_csv_data/REG.csv
Data/filtered_csv_data/REGN.csv
Data/filtered_csv_data/RF.csv
Data/filtered_csv_data/RHI.csv
Data/filtered_csv_data/RIG.csv
Data/filtered_csv_data/RJF.csv
Data/filtered_csv_data/RL.csv
Data/filtered_csv_data/RLGY.csv
Data/filtered_csv_data/RMD.csv
Data/filtered_csv_data/ROK.csv
Data/filtered_csv_data/ROL.csv
Data/filtered_csv_data/ROP.csv
Data/filtered_csv_data/ROST.csv
Data/filtered_csv_data/RRC.csv
Data/filtered_csv_data/RRD.csv
Data/filtered_csv_data/RSG.csv
Data/filtered_csv_data/RTX.csv
Data/filtered_csv_data/RYAAY.csv
Data/filtered_csv_data/S.csv
Data/filtered_csv_data/SAIC.csv
Data/filtered_csv_data/SANM.csv
Data/filtered_csv_data/SBAC.csv
Data/filtered_csv_data/SBNY.csv
Data/filtered_csv_data/SBUX.csv
Data/filtered_csv_data/SCHW.csv
Data/filtered_csv_data/SE.csv
Data/filtered_csv_data/SEDG.csv
Data/filtered_csv_data/SEE.csv
Data/filtered_csv_data/SHW.csv
Data/filtered_csv_data/SIG.csv
Data/filtered_csv_data/SIRI.csv
Data/filtered_csv_data/SITC.csv
Data/filtered_csv_data/SIVB.csv
Data/filtered_csv_data/SJM.csv
Data/filtered_csv_data/SLB.csv
Data/filtered_csv_data/SLG.csv
Data/filtered_csv_data/SLM.csv
Data/filtered_csv_data/SNA.csv
Data/filtered_csv_data/SNPS.csv
Data/filtered_csv_data/SO.csv
Data/filtered_csv_data/SPG.csv
Data/filtered_csv_data/SPGI.csv
Data/filtered_csv_data/SRCL.csv
Data/filtered_csv_data/SRE.csv
Data/filtered_csv_data/SSP.csv
Data/filtered_csv_data/STE.csv
Data/filtered_csv_data/STT.csv
Data/filtered_csv_data/STX.csv
Data/filtered_csv_data/STZ.csv
Data/filtered_csv_data/SUN.csv
Data/filtered_csv_data/SWK.csv
Data/filtered_csv_data/SWKS.csv
Data/filtered_csv_data/SWN.csv
Data/filtered_csv_data/SYF.csv
Data/filtered_csv_data/SYK.csv
Data/filtered_csv_data/SYY.csv
Data/filtered_csv_data/T.csv
Data/filtered_csv_data/TAP.csv
Data/filtered_csv_data/TDC.csv
Data/filtered_csv_data/TDG.csv
Data/filtered_csv_data/TDY.csv
Data/filtered_csv_data/TEL.csv
Data/filtered_csv_data/TER.csv
Data/filtered_csv_data/TEVA.csv
Data/filtered_csv_data/TEX.csv
Data/filtered_csv_data/TFC.csv
Data/filtered_csv_data/TFX.csv
Data/filtered_csv_data/TGNA.csv
Data/filtered_csv_data/TGT.csv
Data/filtered_csv_data/THC.csv
Data/filtered_csv_data/TJX.csv
Data/filtered_csv_data/TMO.csv
Data/filtered_csv_data/TMUS.csv
Data/filtered_csv_data/TPR.csv
Data/filtered_csv_data/TRIP.csv
Data/filtered_csv_data/TRMB.csv
Data/filtered_csv_data/TROW.csv
Data/filtered_csv_data/TRV.csv
Data/filtered_csv_data/TSCO.csv
Data/filtered_csv_data/TSLA.csv
Data/filtered_csv_data/TSN.csv
Data/filtered_csv_data/TTWO.csv
Data/filtered_csv_data/TUP.csv
Data/filtered_csv_data/TWTR.csv
Data/filtered_csv_data/TXN.csv
Data/filtered_csv_data/TXT.csv
Data/filtered_csv_data/TYL.csv
Data/filtered_csv_data/UA.csv
Data/filtered_csv_data/UAA.csv
Data/filtered_csv_data/UAL.csv
Data/filtered_csv_data/UCL.csv
Data/filtered_csv_data/UDR.csv
Data/filtered_csv_data/UHS.csv
Data/filtered_csv_data/ULTA.csv
Data/filtered_csv_data/UNH.csv
Data/filtered_csv_data/UNM.csv
Data/filtered_csv_data/UNP.csv
Data/filtered_csv_data/UPC.csv
Data/filtered_csv_data/UPS.csv
Data/filtered_csv_data/URBN.csv
Data/filtered_csv_data/URI.csv
Data/filtered_csv_data/USB.csv
Data/filtered_csv_data/V.csv
Data/filtered_csv_data/VAL.csv
Data/filtered_csv_data/VFC.csv
Data/filtered_csv_data/VIAV.csv
Data/filtered_csv_data/VLO.csv
Data/filtered_csv_data/VMC.csv
Data/filtered_csv_data/VNO.csv
Data/filtered_csv_data/VNT.csv
Data/filtered_csv_data/VOD.csv
Data/filtered_csv_data/VRSK.csv
Data/filtered_csv_data/VRSN.csv
Data/filtered_csv_data/VRTS.csv
Data/filtered_csv_data/VRTX.csv
Data/filtered_csv_data/VTR.csv
Data/filtered_csv_data/VTRS.csv
Data/filtered_csv_data/VZ.csv
Data/filtered_csv_data/WAB.csv
Data/filtered_csv_data/WAT.csv
Data/filtered_csv_data/WBA.csv
Data/filtered_csv_data/WDC.csv
Data/filtered_csv_data/WEC.csv
Data/filtered_csv_data/WELL.csv
Data/filtered_csv_data/WFC.csv
Data/filtered_csv_data/WHR.csv
Data/filtered_csv_data/WLTW.csv
Data/filtered_csv_data/WM.csv
Data/filtered_csv_data/WMB.csv
Data/filtered_csv_data/WMT.csv
Data/filtered_csv_data/WOR.csv
Data/filtered_csv_data/WRB.csv
Data/filtered_csv_data/WRK.csv
Data/filtered_csv_data/WST.csv
Data/filtered_csv_data/WU.csv
Data/filtered_csv_data/WY.csv
Data/filtered_csv_data/WYNN.csv
Data/filtered_csv_data/X.csv
Data/filtered_csv_data/XEL.csv
Data/filtered_csv_data/XLNX.csv
Data/filtered_csv_data/XOM.csv
Data/filtered_csv_data/XRAY.csv
Data/filtered_csv_data/XRX.csv
Data/filtered_csv_data/XYL.csv
Data/filtered_csv_data/YUM.csv
Data/filtered_csv_data/ZBH.csv
Data/filtered_csv_data/ZBRA.csv
Data/filtered_csv_data/ZION.csv
Data/filtered_csv_data/ZTS.csv
